<main>
  <h1 data-epi-property-name="Heading"
      data-epi-property-render="none"
      data-epi-property-edittype="floating"
      [innerHtml]="model.heading.value"
      *ngIf="model && model.heading"></h1>
  <p data-epi-property-name="MainBody"
     data-epi-property-render="none"
     data-epi-property-edittype="floating"
     [innerHtml]="model.mainBody.value"
     *ngIf="model && model.mainBody">
  </p>
  <div data-epi-property-name="BlockArea"
       data-epi-property-render="none"
       data-epi-property-edittype="floating"
       *ngIf="model && model.blockArea">
    <ng-template block-host *ngFor="let block of model.blockArea.expandedValue"></ng-template>
  </div>
</main>
